<?xml version="1.0" encoding="utf-8"?>
<ConfigFile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Folders>
    <Folder>
      <JobWorkingPath></JobWorkingPath>
      <OrgDocPath></OrgDocPath>
      <xmlPDFslzPath>D:\Temp</xmlPDFslzPath>
      <ERPCompany>200</ERPCompany>
      <ProcessedPath>D:\Temp\P</ProcessedPath>
      <ErrorPath>D:\Temp\E</ErrorPath>
    </Folder>
  </Folders>
  <StartupPath />
  <SerializedAt>C:\Data\Projects15.NET\BaaNImport\BaaNImport\bin\Debug\Settings.xml</SerializedAt>
  <BaaNLive>0</BaaNLive>
  <LockXMLFolder>D:\Temp\L</LockXMLFolder>
  <IsLocalISGECVault>0</IsLocalISGECVault>
  <ISGECVaultIP>192.9.200.146</ISGECVaultIP>
</ConfigFile>